<header class="fixed top-0 left-0 w-full h-20 md:h-28 flex items-center justify-between px-6 md:px-20 z-50 header">



  <span class="text-2xl tracking-widest cursor-pointer hover:opacity-70 transition">
    FM
  </span>

<nav class="hidden md:flex gap-8 lg:gap-16 text-sm md:text-lg tracking-widest">

    <button data-index="0" class="hover:opacity-70 transition">HOME</button>
    <button data-index="1" class="hover:opacity-70 transition">STACKS</button>
    <button data-index="2" class="hover:opacity-70 transition">ABOUT</button>
    <button data-index="3" class="hover:opacity-70 transition">DIPLOMA</button>
    <button data-index="4" class="hover:opacity-70 transition">CONTACT</button>
  </nav>
</header>
